<div class="{{if even 'col-lg-06 col-md-6 col-sm-6' 'col-lg-03 col-md-3 col-sm-3'}}
            text-center col-xs-12">
    {{name}}

    <a href="http://{{url}}">
        <img src={{image}} alt="Portrait of {{name}}" style='width:100%'>
    </a>
</div>