<article class="jumbotron news-spotlight">
    {{#link-to 'news'}}
    <img src="{{news.image}}" alt="{{t imgalt}} {{news.abstract}}">
    <h3>{{news.title}}</h3>
    <div class="news-abstract">
        {{news.abstract}}
    </div>
    {{/link-to}}
    
</article>

