<div class="container">
    <div class="menu navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                {{#link-to 'index' class ="navbar-brand text-capitalize"}}
                <em>{{t "home"}}</em>
                {{/link-to}}
                <button type="button" class="navbar-toggle" data-toggle="collapse" onclick={{action 'navBarClicked' value='target'}}>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> 
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="links">
                        {{#link-to 'news' class='col-lg-4 col-md-4 col-sm-4'}}
                        {{t 'news'}}
                        {{/link-to}}
                        {{#link-to 'private' class='col-lg-4 col-md-4 col-sm-4'}}
                        {{t 'private'}}
                        {{/link-to}}
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        {{#link-to 'private' class='text-right'}}<span class="glyphicon glyphicon-log-in text-capitalize"> {{t 'login'}}</span>{{/link-to}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="body">
        {{outlet}}
    </div>
</div>
<!-- full size footer outside of container -->
<footer class="footer">
    <div class="container">
        <div class="row text-center">
            <div class="text-muted mx-auto col-lg-12 col-md-12 col-sm-12 col-xs-12">&copy; Guillaume Maiano 2017</div>
        </div>
    </div>
</footer>
