<div class="container">
    <div class="menu">
    <div class="collapse navbar-collapse" onclick={{action 'navBarClicked' value='target'}}>
    {{#link-to 'index'}}
        <em>{{t "home"}}</em>
    {{/link-to}}

    <div class="links">
        {{#link-to 'news'}}
        {{t 'news'}}
        {{/link-to}}
        {{#link-to 'private'}}
        {{t 'private'}}
        {{/link-to}}
    </div>
    </div>
</div>
<div class="body">
{{outlet}}
</div>
</div>
    <footer class="footer">
          <div class="container">
          <div class="row text-center">
                  <div class="text-muted mx-auto col-lg-12 col-md-12 col-sm-12 col-xs-12">&copy; Guillaume Maiano 2017</div>
            </div>
            </div>
    </footer>
