<div class="index-page">
<div class="row">
    <h2><span class="glyphicon glyphicon-heart"></span>{{t "we-like"}}<span class="glyphicon glyphicon-heart"></span> </h2>
        {{news-spotlight news=model.spotlightnews}}
</div>
<div class="row">
    <h2><span class="glyphicon glyphicon-user"></span>{{t "our-pages"}}<span class="glyphicon glyphicon-user"></span> </h2>
    {{#each model.memberlist as |member|}}
        {{member-spotlight name=member.name image=member.image url=member.url even=model.isEven}}
    {{/each}}
</div>
</div>
{{outlet}}
